.login-box {
    background-image: url(../../../images//loginBg.jpg);
    height: 100vh;
    background-size: cover;
}

.login-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-wrapper::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    left: 0;
    bottom: 0;
    z-index: -1;
    opacity: .6;
}

.login-inner {
    width: 400px;
    padding: 30px;
    color: black;
    border-radius: 5px;
    box-shadow: -1px 2px 12px 2px rgb(103 147 147);
    border: 1px solid #aaa;
}


.login-inner input, .login-inner input:focus {
    background-color: transparent;
    margin-bottom: 10px;
    border: 1px solid black;
}

.login-inner h3 {
    font-size: 25px;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[placeholder], [placeholder], *[placeholder] {
    color: black !important;
}

.social-btn {
    text-align: center;
}

.social-btn span {
    height: 45px;
    width: 45px;
    line-height: 45px;
    background-color: #514f4ff0;
    color: white;
    margin: 8px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}

.social-btn span:hover {
    transform: translateY(-6px);
}

.social-btn p {
    position: relative;
    margin-top: 10px;
    font-size: 20px;
}

.social-btn p::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100px;
    left: 36px;
    bottom: 12px;
    background-color: black;
}

.social-btn p::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 100px;
    right: 36px;
    bottom: 12px;
    background-color: black;
}