.single-review-box {
    height: 200px;
    width: 100%;
    background-color: orange;
    margin-top: 70px;
    transition: .3s;
}

.single-review-box:hover {
    box-shadow: 0 19px 27px -13px grey;
}

.single-review-box img {
    height: 90px;
    width: 90px;
    border-radius: 100%;
    margin-top: -45px;
    margin-bottom: 30px;
}