.manage-service{
    height: 350px;
    margin: 20px;
    position: relative;
}
.manage-service .delete{
    height: 20px;
    position: absolute;
    left: -8px;
    top: -9px;
    cursor: pointer;
}

.manage-service .details img{
    height: 200px;
    width: 100%;
}



